/* (min-width: 768px) */

/* HEADER */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/background_max.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

/* ABOUT ME */
.aboutme-box {
    display: flex;
    width: 80vw;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 24px;
}

.aboutme-text {
    width: 50%;
    height: auto;
}

.aboutme-text span {
    font-size: 22px;
}

.aboutme-text p {
    font-size: 18px;
}

.aboutme-img {
    width: 50%;
    height: auto;
}