/* (min-width: 768px) */

/* HEADER */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/background_max.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* ABOUT ME */
.aboutme-box {
    display: flex;
    width: 80vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 26px;
}

.aboutme-text {
    width: 50%;
    height: auto;
}

.aboutme-text span {
    font-size: 22px;
}

.aboutme-text p {
    font-size: 20px;
}

.aboutme-img {
    width: 50%;
    height: auto;
}

/* SERVICES */
.services-box {
    display: flex;
    width: 50vw;
    margin-bottom: 50px;
}

.card {
    position: relative;
    width: 50vw;
}

.card-text {
    position: absolute;
    width: 60%;
    height: auto;
    bottom: -30px;
    right: -30px;
    padding: 5px;
    text-align: justify;
    color:white;
    background-color: #223c55;
}

.card-text h5 {
    text-align: center;
    text-transform: uppercase;
}

/* CONTACT  */
.contact-box p {
    font-size: 20px;
}