/* (min-width: 576px) */

/* NAV */
.nav-mobile {
    display: none;
}

.nav-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    font-size: 20px;
    background: none;
    position: fixed;
    backdrop-filter: blur(4px);
    background-color: black;
    z-index: 2;
}

.nav-desktop a {
    padding: 0 10px;
}

/* HEADER */
.hero-inner h1 {
    font-size: 26px;
}
.hero-inner span {
    display: inline;
}

.hero-inner p {
    font-size: 20px;
}

/* SERVICES */
.services-box {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
}

 .card {
    display: inline-block;
    width: 48%;
    padding: 5px;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
} 