* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* NAV */
.nav-box {
    background-color: white;
    color: #42A5FF;
}

.nav-desktop {
    display: none;
    text-align: center;
    width: 100vw;
    height: auto;
    position: absolute;
    padding: 30px 5px 10px 5px;
    font-size: 20px;
    list-style: none;
    text-transform: uppercase;
    background-color: white;
    z-index: 1;
}

.nav-desktop a {
    text-decoration: none;
    color: #42A5FF;
    transition: color .3s;
}

.nav-desktop a:hover {
    color: #90c5f7;
}

.nav-mobile {
    position: absolute;
    padding: 15px 40px 0 0;
    right: 0;
    font-size: 24px;
    z-index: 3;
    transition: .3s;
}

.nav-mobile:hover {
    color: #90c5f7;
}

.fa-times {
    display: none;
}

/* HEADER */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/background_mini.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero-shadow {
    position: absolute;
    width: 100vw;
    height: 100vh;   
    background-color: rgba(0, 0, 0, 0.85);
}

.hero-inner {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    z-index: 2;
}

.hero-inner h1 {
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}

.hero-inner span {
    display: block;
    padding: 2px;
    font-size: 35px;
    letter-spacing: 1px;
    font-family: 'Suez One', serif;
    color: #42A5FF;
}

.hero-inner p {
    margin: 20px 0 25px 0;
    color: white;
}

.hero-inner a {
    text-decoration: none;
    padding: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    transition: background-color .3s, color .3s;
}

.hero-inner a:hover {
    background-color: white;
    color: rgb(46, 43, 43);
}

/* ABOUT ME */
.aboutme-box {
    width: 100vw;
    height: auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    margin: 15px;
    text-transform: uppercase;
    color: #42A5FF;
}

.aboutme-text {
    text-align: justify;
    padding: 20px;
}

.aboutme-text span {
    font-size: 18px;
    font-weight: 600;
}

.aboutme-text p {
    padding-top: 15px;
}

.aboutme-img {
    text-align: center;
}

.aboutme-img img {
    height: 350px;
}

/* SERVICES */
.services-box {
    width: 90vw;
    margin: auto;
}

.card {
    position: relative;
    margin-bottom: 40px;
}

.card-text {
    width: 100%;
    padding: 0 10px;
    text-align: justify;
    background-color: #ebeef1;
    z-index: 1;
}

.card-text h5 {
    padding: 10px 0 5px 0;
    text-align: center;
    font-size: 19px;
    font-weight: 200;
}

.card img {
    width: 90vw;
    height: auto;
}